
#body {
  background: linear-gradient(#141e30, #243b55);
}
#results {
  font-family: sans-serif;
  border-collapse: collapse;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

#results td, #results th {
  border: 1px solid #ddd;
  padding: 8px;
}

#results tr:nth-child(even){background-color: #f2f2f2;}

#results tr:hover {background-color: #ddd;}

#results th {
  padding-top: 12px;
  padding-bottom: 12px;
  background: linear-gradient(#141e30, #243b55);
  color: white;
}
h4 {
  text-align: center;
  color: #243b55;
}